.profile__add-button {
  box-sizing: border-box;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  opacity: 1;
  transition: opacity  .3s ease;
  position: relative;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media screen and (max-width:768px) {
  .profile__add-button {
    width: 282px;
  }  
}
