.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding-bottom: 16px;
  padding-right: 23px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    padding-top: 28.3px;
  }
}